@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar css */

.nav-menu > li {
  cursor: pointer;
}

/* testimonial > home-contents */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #10b981;
}
